/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



html,body{
    margin:0;
    padding:0;
    width:100%;
    height: 100%;
}
#background {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  width:100%;
  height:100%;
  background: linear-gradient( rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15) ), url('../images/bg1.jpg') no-repeat 50% 50% fixed; 
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  -webkit-filter: blur(.5px);
  -moz-filter: blur(.5px);
  -o-filter: blur(.5px);
  -ms-filter: blur(.5px);
  filter: blur(.5px);
  z-index: 1
  
}

.row{
	height:97%;
}

.col-6{
	height:100%;
	/*outline:solid 1px red;*/
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 50%;
}

.nav-box{
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: 600px;
    /*outline:solid 1px blue;*/
}

.blurb p{
	letter-spacing: 4px;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-size: 1.2em;
	margin-top:1em;
}

.brand{
	font-size:8em;
	/*border:solid 1px blue;*/
	font-family: 'Arapey', serif;
}

.nav{
	height:100%;
	width:10em;
	height:3em;
	border:solid 2px #000;
	text-align: center;
	float:left;
	border-radius: 5px;
	margin-top:2em;
}

.nav p{
	line-height: 40px;
	font-family: 'Lato', sans-serif;
}


.second{
	margin-left:10px;
}

.content {
	z-index:9999;
}